/* Styles frontend : organise l'affichage de app. */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  padding: 2rem 1rem;
}

main {
  flex: 1;
}

footer {
  padding: 1rem;
  font-size: 0.875rem;
  border-top: 1px solid var(--grey-light);
}

h1 {
  margin-bottom: 0.5rem;
}

[data-theme="dark"] {
  .ant-select-selection-placeholder {
    color: var(--text-secondary) !important;
  }
  .ant-select-selection-item {
    color: var(--text-primary) !important;
  }
}
